apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: grafana-operator
  namespace: grafana 
spec: 
  channel: v5
  name: grafana-operator
  source: operatorhubio-catalog
  sourceNamespace: olm