apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-node-exporter
  namespace: cluster-infra-argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  project: infra
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus-node-exporter
    targetRevision: 4.46.0
    helm:
      valuesObject:
        prometheus:
          monitor:
            enabled: true
            relabelings:
            - sourceLabels: 
                - __meta_kubernetes_pod_node_name
              targetLabel: node
              action: replace
  destination:
    server: https://kubernetes.default.svc
    namespace: observability-monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
