apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-ingress-redirect
spec:
  hostnames:
  - "grafana.tetra.net.konst.fish"
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-ingress
spec:
  hostnames:
  - "grafana.tetra.net.konst.fish"