apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx-netbird
  namespace: cluster-infra-argocd
spec:
  source:
    helm:
      valuesObject:
        controller:
          service:
            annotations:
              netbird.io/expose: "true"
              netbird.io/policy: proxy-access
              netbird.io/resource-name: barracuda-nginx
              netbird.io/groups: barracuda-nginx-k8s
  destination:
    namespace: ingress-nginx-netbird
