apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingress
  namespace: cluster-infra-argocd
spec:
  source:
    helm:
      valuesObject:
        labels:
          app: istio-ingress
          istio: ingressgateway
          Istio: ingressgateway
          release: istio-ingress
        service:
          annotations:
            load-balancer.hetzner.cloud/location: nbg1
            load-balancer.hetzner.cloud/name: ingress-istio-tetr
            load-balancer.hetzner.cloud/use-private-ip: "true"
            load-balancer.hetzner.cloud/uses-proxyprotocol: "false"
        autoscaling:
          enabled: true
          minReplicas: 3
          maxReplicas: 5