apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: cluster-observability-monitoring
spec:
  replicas: 1
  retention: 14d
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: hcloud-volumes
        resources:
          requests:
            storage: 20Gi
  externalLabels:
    cluster: tetra