
# all of this needs to be in the operators NS, since the operator only scans in the operator ns.
# issue: (https://github.com/metallb/metallb-operator/issues/415)
# another issue: https://github.com/metallb/metallb/issues/2729
namespace: metallb-system

resources:
  - github.com/metallb/metallb/config/native?ref=v0.15.3
  # - operator/
  # - range/metallb.yaml
  - range/pool.yaml
  - range/advertisement.yaml