name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          private-key: ${{ secrets.private_key }}
          app-id: ${{ secrets.app_id }}
          owner: ${{ github.repository_owner }}
          repositories: 'shoalv2'

      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v43.0.6
        with:
          configurationFile: .github/renovate-config.js
          token: '${{ steps.get_token.outputs.token }}'
        #env:
        #  LOG_LEVEL: debug